packages
SPIClient/obj
AcmePos/bin
AcmePos/obj
SPIClient/bin
Test/bin
Test/obj
AcmePos3/bin
AcmePos3/obj
PizzaPos/bin
PizzaPos/obj
HammerPos/bin
HammerPos/obj
KebabPos/bin
KebabPos/obj
TablePos/bin
TablePos/obj
MotelPos/bin
MotelPos/obj
SPICodeSample.userprefs
